body{
    font-family: 'Open Sans', sans-serif;
}
#container{
    width:90%;
    max-width:800px;
    margin:auto;
    text-align: center;
}
#container #top{
    overfow:hidden;
    padding:30px;
}
#container #top #title{
    font-size:30px;
    font-weight:700;
}
#container #top #menu{
   width:100%;
}
#container #top #menu a{
    width:calc((100% / 5) - 10px);
    text-decoration: none;
    color: #000;
    font-size:12px;
    border:1px solid #000;
    margin:5px;
}
#container #middle{
    overflow:hidden;
}